.foot{
    margin-top: 165px;
}

.foot2{
    margin-top: 80px;
}
.foot3{
    margin-top: 80px;
}

.foot4{
    margin-top: 80px;
}

.foot5{
    margin-top: -30px;
}
.foot6{
    margin-top: 80px;
}